html, body {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.9);
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249/var(--tw-bg-opacity));
  caret-color: rgba(0,0,0,0);
  font-size: 16px;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  width: 940px;
  font-family: Courier;
}

header {
  width: 100%;
}

header h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: rgb(234 179 8);
  font-family: Open Sans,sans-serif;
}

div#sugestion p {
  width: 100%;
  text-align: left;
}

div.word {
  margin:10px auto;
  width: 100%;
}
header h1 a {
  text-decoration: none;
  color: rgb(234, 179, 8);
}

input.entry {
  width: 48px;
  height: 48px;
  font: 40px Courier;
  text-align: center;
}

header h1 a:hover {
  color: rgb(145 204 8);
}

main {
  position: relative;
}

main div#game, main div#sugestion{
  vertical-align:top;
  width: 45%;
  box-sizing: border-box;
  display: inline-block;
}

main div#sugestion{
  border-left: 2px solid rgb(0,0,0,.3);
  padding-left: 4%;
}

footer {
  width: 940px;
  color: rgba(180, 180, 180, 0.7);
  margin: 0 auto;
  /* position: absolute; */
  bottom: 0px;
  padding: 40px 10px;
  box-sizing: border-box;
}

.center {
  text-align: center;
}

.box {
  margin: 2px auto;
  box-sizing: border-box;
  padding: 2px;
  vertical-align: bottom;
  width: 48px;
  height: 48px;
  font-size: 2rem;
  text-align: center;
  display:inline-block;
  border: 1px solid #000;
  border-radius: 6px;
  background: #FFF;
  color: #000;
  cursor:pointer;
}

.teclado {
  width: 100%;
  display: block;
}

.box.black {
  background: #000;
  color: #FFF;
}

.box.white {
  background: #FFF;
  color: #000;
}

.box.green {
  background: #22c55e;
  color: #000;
}

.box.orange {
  background: #eab308;
  color: #FFF;
}

.active {
  border-bottom: 4px solid #00A;
}

#keyboard {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 30px 0px;
  text-align: center;
}

.onlymobile {
  display:none;
}

@media only screen and (max-width: 700px) {
  html {
      font-size: 14px;
      margin: 0;
      padding: 0;
  }

  body, main, header, footer {
    display: block;
    width: 100%;
  }

  body {
    padding: 0 20px;
  }

  h2 {
    font-size: 1.4rem;
  }

  main div#game, main div#sugestion{
    width: 100%;
    display: block;
    border: none;
  }

  #keyboard {
    padding: 2px 0px;
    font-size: 0.8rem;
  }

  .box {
    display: inline-block;
    vertical-align: middle;
    width:15%;
    max-width: 48px;
    max-height: 48px;
    font-size: 2.4rem;
    text-align: center;
  }

  #keyboard .box {
    font-size: 1rem;
    width: 1.8rem;
    height: 1.8rem;
  }

  .onlymobile {
    display: block;
  }


}
